{% extends "renoreddit/base.html" %}
{% block content %}

    <!-- Similar to EJS, templating engine -->
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1 class="article-content">{{ post.title }}</h1>
                <p class="article-content">Written by <a class="article-author" href="#">{{ post.author }} </a>on {{ post.date }}</p>
            </div>
            <p class="article-content article-paragraph">{{ post.content }}</p>
        </div>
    </article>
    {% endfor %}

{% endblock content %}
